.app {
  min-width: 100vw;
  padding: 112px 24px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn-group-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  height: fit-content;
}
